/* Background image for testimonials header */
/* .testimonials-container header {
  background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/about-page-header.jpg);
} */
/* Background image for testimonials header */
/* .testimonials-container header {
  background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url('../../utils/images/teacher.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2rem 0;
  text-align: center;
} */

@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.testimonials-container header {
  background: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/teacher.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: moveBackground 10s linear infinite;
}


.testimonials-container {
  padding: 20px;
}

.testimonials-title {
  text-align: center;
  margin-bottom: 20px;
}

.testimonials-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.testimonials-table th, .testimonials-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.testimonials-table th {
  background-color: #f4f4f4;
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* border-radius: 50%; */
}
